

#app {
    position: relative;
    height: 100%;
    p {
        margin: 0;
    }
}
.page-container {
    position: relative;
    height: 100%;
    padding: 0 8px;
    background-color: #fff;
    .search-main {
        padding-top: 24px;
    }
    .operation-table {
        > .ant-btn {
            + .ant-btn {
                margin-left: 8px;
            }
        }
    }
}
